<!DOCTYPE html>
<html lang="en">
<head th:replace="/partials/base.html ::head">

</head>
<body>
<nav th:replace="/partials/base.html ::barra"></nav>
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Inicio Sesion</h5>
  <form>
    <div class="form-groupe">
      <label class="col-sm-2 col-form-label">Correo</label>
      <div class="col-sm-6">
        <input class="form-control" type="email" th:field="*{correo}">
      </div>

    </div>

    <div class="form-groupe">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-6">
        <input class="form-control" type="password" >
      </div>

    </div>
    <a type="sumbit" class="btn btn-primary">Enviar</a>
  </div>
  </form>
</div>
</body>
</html>